<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571317457733-j70vd978bcr5fc120g2pqfu6flh1rcjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571317457733-j70vd978bcr5fc120g2pqfu6flh1rcjv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>571317457733-83oa771eqjps36fc4kmeuhmpee21ckm4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRy1yQ5XGT7pUAFweb1GAAxhD0vGGx5x4</string>
	<key>GCM_SENDER_ID</key>
	<string>571317457733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bh.patientappios</string>
	<key>PROJECT_ID</key>
	<string>bvhmobileapp-e9262</string>
	<key>STORAGE_BUCKET</key>
	<string>bvhmobileapp-e9262.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571317457733:ios:ca1f02ad8dc470ee34e42c</string>
	<key>DATABASE_URL</key>
	<string>https://bvhmobileapp-e9262.firebaseio.com</string>
</dict>
</plist>